<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disease Progression Prediction Result</title>
    <link href="../static/css/styles2.css" rel="stylesheet" media="all" />
</head>

<body>
    <div class="container">
        <form>
            <h1>Disease Progression Prediction Result</h1>
            <p>
                <strong>The predicted disease progression one year after baseline:
                    <span id="prediction">{{ prediction }}</span></strong>
            </p>
        </form>
    </div>
    <script> src = "../static/js/script2.js"</script>

</body>

</html>